/* Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

/* Box Model Control */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Colour Variables */

:root {
  --gold: #976c42;
}

/* Font Properties */

h1 {
  font-family: Jost, sans-serif;
  font-style: italic;
  font-weight: bold;
}

h2 {
  font-family: Jost
}

p,
em {
  font-family: Georgia, serif;
}

/* Utility Classes */

.link-default-reset {
  color: inherit;
  text-decoration: none;
}

/* Header */

header {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 10vh;
}

header a {
  color: inherit;
  text-decoration: none;
}

header img {
  height: 4rem;
  margin-right: 2px;
  width: 4rem;
}

/* Main Content */

div.background {
  background-color: #c0c0c0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  padding: 2rem 0;
}

.home-container {
  background-color: white;
  border: 0.7rem solid #976c42;
  border-radius: 25px 0 25px 0;
  display: grid;
  grid-template-rows: repeat(4 1fr);
  max-width: 80%;
  max-height: 80%;
  padding: 1.5rem;
  row-gap: 1.5rem;
}

.home-container button {
  border: 1px solid #976c42;
  border-radius: 25px;
  color: black;
  font-family: Jost, sans-serif;
  font-size: 1.25rem;
  padding: 0.5rem;
}

/* How To Play Modal Dialog */

dialog::backdrop {
  background: black;
  opacity: 0.7;
}

.howto-modal {
  border: 0.7rem solid var(--gold);
  border-radius: 0 25px 0 25px ;
  font-size: 0.9rem;
  margin: auto;
  min-width: 95vw;
  text-align: center;
}

.howto-modal > * {
  margin: 1rem;
}

.howto-modal button {
  border: 1px solid #976c42;
  border-radius: 25px;
  color: black;
  font-family: Jost, sans-serif;
  font-size: 1.25rem;
  padding: 0.5rem;
}

/* Footer */

footer {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;  
  flex-wrap: wrap;
  font-family: Jost, sans-serif;
  justify-content: center;
  padding: 1rem;
  text-align: center;
}

div.socials * {
  color: inherit;
  font-size: 2rem;
  text-decoration: none;
}