/* Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

/* Box Model Control */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Font Properties */

h1 {
  font-family: Jost, sans-serif;
  font-style: italic;
  font-weight: bold;
}

p,
em {
  font-family: Georgia, serif;
}

/* Header */

header {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 10vh;
}

header a {
  color: inherit;
  text-decoration: none;
}

header img {
  height: 4rem;
  margin-right: 2px;
  width: 4rem;
}

/* Main Content */

div.background {
  background-color: #c0c0c0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  padding: 2rem 0;
}

.home-container {
  background-color: white;
  border: 1rem solid #976c42;
  border-radius: 25px 0 25px 0;
  display: grid;
  grid-template-rows: repeat(4 1fr);
  max-width: 80%;
  max-height: 80%;
  padding: 1.5rem;
  row-gap: 1.5rem;
}

.home-container button {
  border: 2px solid #976c42;
  border-radius: 25px;
  color: black;
  font-family: Jost, sans-serif;
  font-size: 1.25rem;
  padding: 0.5rem;
}

/* How To Play Modal Dialog */

/* https://www.w3schools.com/css/tryit.asp?filename=trycss_align_transform */
.howto-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  min-width: 90vw;
  text-align: center;
}

.howto-modal > * {
  margin: 1rem;
}

/* Footer */

footer {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;  
  flex-wrap: wrap;
  font-family: Jost, sans-serif;
  justify-content: center;
  padding: 1rem;
  text-align: center;
}

div.socials * {
  color: inherit;
  font-size: 2rem;
  text-decoration: none;
}